{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>引入样式</title>
    {% include 'bootcss.html' %}
    <link rel="shortcut icon" href="{% static '' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'shop_manage/css/font.css' %}">
	<link rel="stylesheet" href="{% static 'shop_manage/css/xadmin.css' %}">
    <script src="{% static 'shop_manage/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'shop_manage/js/xadmin.js' %}"></script>



</head>
<body>

</body>
</html>