{% extends 'student_manage/demo.html' %}

{% block title %}
    注册
{% endblock %}

{% block body %}
    {% include 'student_manage/hrard.html' %}
{#        {% include 'student_manage/login_jiance.html' %}#}

    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="{% url 'index' %}">主页</a></li>
        <li role="presentation" ><a href="{% url 'yuedu' %}">阅读</a></li>
        <li role="presentation" ><a href="{% url 'yule' %}">娱乐</a></li>
        <li role="presentation" class="active"><a href="{% url 'res' %}">注册</a></li>
        {% if request.session.username %}
{#            #显示欢迎小标题##}
            {% include 'student_manage/huanying_biaoti.html' %}
            <li role="presentation"><a href="{% url 'add' %}">添加数据</a></li>
            <li role="presentation"><a href="{% url 'show' %}">学生信息</a></li>

        {% else %}
            <div style="position: absolute;top: 122px;right:8px">
                <h5>您还没 <a href="{% url 'login' %}">登录</a>~</h5>

            </div>
            <li role="presentation"><a href="{% url 'login' %}">登录</a></li>
        {% endif %}
    </ul>
    <br>
    <div class="container">
        <div class="row">

            <form action="{% url 'do_res' %}" method="post" class="form-horizontal">
                {% csrf_token %}

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputEmail3" name='name' placeholder="用户名"
                               required> {% if request.session.error %}{{ request.session.error }}
                    {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-4">
                        {% if request.session.error %}
                            <input type="password" class="form-control" id="inputPassword3" name='pswd' placeholder="密码"
                                   required value="{{ pswd }}">
                        {% else %}
                            <input type="password" class="form-control" id="inputPassword3" name='pswd' placeholder="密码"
                                   required>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}