<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    {% include 'shop_manage/yangshi.html' %}
    {#  引入Ztree 静态资源 #}
    <link rel="stylesheet" href="{% static  'shop_manage/admin/css/demo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static  'shop_manage/admin/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">
    <script type="text/javascript" src="{% static  'shop_manage/admin/js/jquery.ztree.core.js' %}"></script>
    <script type="text/javascript" src="{% static  'shop_manage/admin/js/jquery.ztree.excheck.js' %}"></script>
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form" method="post" action="{% url 'do_add_role_shop_manage' %}">
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>权限名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="name" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                上级分类
            </label>
            <div class="layui-input-inline">
                <ul id="treeDemo" class="ztree"></ul>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>

        </div>
        {% csrf_token %}

        <div id="hidd_power"></div>
    </form>
</div>


</body>

<SCRIPT type="text/javascript">
    <!--
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onCheck: zTreeOnCheck
        },
        check: {
            enable: true,
            autoCheckTrigger: true
        }
    };
    {% autoescape off %}
        var zNodes ={{ json_obj }};
    {% endautoescape %}

    function zTreeOnCheck(event, treeId, treeNode) {
        {#alert(treeNode.tId + ", " + treeNode.name + "," + treeNode.checked);#}
        if (treeNode.checked == true) {
            if ($('#power_id' + treeNode.id).length==0) {
                $('#hidd_power').append("<input type='hidden' id='power_id" + treeNode.id + "' name='power_id' value='" + treeNode.id + "'>")
            }

        }
        else {
            $('#power_id' + treeNode.id).remove()
        }
    };


    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    //-->
</SCRIPT>


</html