<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>引入样式</title>


    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/pub.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/index.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/content.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'shop/css/color.css' %}"/>
    <script src="{% static 'shop/js/jquery.min.js' %}"></script>
    <script src="{% static 'shop/js/index.js' %}"></script>
    <script src="{% static 'shop/js/pub.js' %}"></script>
    <script src="{% static 'shop/js/content.js' %}"></script>



</head>
<body>

</body>
</html>