{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'hello/css/yunyun.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/font-awesome.min.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"> -->

</head>

<body>
    <div class="top" id="index">
        <div class="logo">
            <img src="{% static 'hello/images/云云_logo.gif' %}" alt="">
        </div>
        <div class="daohang">
            <a href="#" class="index">首页</a>
            <a href="#">云云商城</a>
            <a href="#">智慧门店</a>
            <a href="#">营销平台</a>
            <a href="#">媒体联盟</a>
            <a href="#">关于云道</a>
        </div>
    </div>
    <div class="main">
        <div class="tupian"></div>
        <div class="zhuti">
            <div class="top_text">
                <p>我们的服务</p>
            </div>
            <div class="english_text">
                <p>PROGRAM HIGHLIGHTS</p>
            </div>
            <div class="long_text">
                <p>shopand云道,国内領先的独立屯商解决方案及全渠道菅銷平台。完整的广品体索,筒約的系統,个性佗前端,全 覆盖多渠道嘗銷体系.. 我仙致力于打造一个 服努 于品牌商城独立屯商的完整生杰,辻企並的独立屯商之路変得更筒単,也更有价値!
                </p>
            </div>

            <div class="mode">
                <!-- //营销，推广，合作 -->
                <div class="left">
                    <img src="{% static 'hello/images/mode_left.gif' %}" alt="">
                    <p class="mode_biaoti">我是卖家</p>
                    <div class="mode_text">
                        <p> shopcmd云电商解决方案,我们不仅仅是领先的独立商城建站系统。我们从互联网时代品牌建设和品牌营销的全新视角，赋予了品牌商城及独立电商更大的生存空间和存在价值!
                        </p>
                    </div>
                    <div class="mode_but">
                        <input type="button" value="我要建站">
                    </div>
                </div>
                <div class="center">
                    <img src="{% static 'hello/images/mode_center.gif' %}" alt="">
                    <p class="mode_biaoti">我要营销</p>
                    <div class="mode_text">
                        <p> 云道不断完善的营销系统,联合优质媒体资源，集成常用的网络营销模式及终端，以最简单的产品形态,帮助独立商城实现店铺及商品信息在全网的快速分销。
                        </p>
                    </div>
                    <div class="mode_but">
                        <input type="button" value="我要推广">
                    </div>
                </div>
                <div class="right">
                    <img src="{% static 'hello/images/mode_right.gif' %}" alt="">
                    <p class="mode_biaoti">媒体合作</p>
                    <div class="mode_text">
                        <p>真正的全民营销时代,无需学习,无需维护。通过您的网站。朋友圈，媒体流量、 移动展现、媒体解决方案获取收 益。我们致益。我们致力于实现合作媒体流量价值 的最大化。
                        </p>
                    </div>
                    <div class="mode_but">
                        <input type="button" value="我要合作">
                    </div>

                </div>
            </div>
            <!-- 经典案例 -->
            <div class="lunbo">
                <div class="top_text">
                    <p class="lunbo_top_text">经典案例</p>
                </div>
                <div class="english_text">
                    <p>THE CLASSIC CASE</p>
                </div>
                <div class="lunbo_tu">
                    <div class="lunbo_tu_jiantou" id="lunbo_tu_leftjiantou">
                        <p> <i class="fa fa-angle-left"></i></p>
                    </div>
                    <div class="lunbo_tu1"></div>
                    <div class="lunbo_tu2"></div>
                    <div class="lunbo_tu3"></div>
                    <div class="lunbo_tu_jiantou" id="lunbo_tu_rightjiantou">
                        <p><i class="fa fa-angle-right"></i></p>
                    </div>
                </div>
            </div>
            <!-- 合作媒体 -->
            <div class="hezuo">

                <div class="top_text">
                    <!-- <div class="hengxian1"></div> -->
                    <p class="hezuo_top_text">合作媒体</p>
                </div>
                <div class="english_text">
                    <p>ASSOCIATED MEDIA</p>
                </div>
                <div class="tab">
                    <table>
                        <tr>
                            <td><img src="{% static 'hello/images/淘宝-1.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/京东.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/shope.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/阿里巴巴.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/中控.png' %}" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'hello/images/淘宝网.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/京东.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/shope.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/阿里巴巴.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/中控.png' %}" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'hello/images/淘宝网.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/京东.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/shope.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/阿里巴巴.gif' %}" alt=""></td>
                            <td><img src="{% static 'hello/images/中控.png' %}" alt=""></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="foot_daohang">
            <a href="">shopcmd</a>
            <p class="fenge">|</p>
            <a href="#index">首页</a>
            <p class="fenge">|</p>
            <a href="">官网云商城</a>
            <p class="fenge">|</p>
            <a href="">智慧门店</a>
            <a href="">营销平台</a>
            <p class="fenge">|</p>
            <a href="">媒体联盟</a>
            <p class="fenge">|</p>
            <a href="">关于我们</a>
        </div>
        <div class="banquan">
            <p>©Copyright 2018 娄世敏版权所有|宇宙备|19661023号</p>
        </div>
    </div>
</body>

</html>